*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    __primery--color:#c6c3c3;
    __second--color:#ffffff;
    __black--color:#000000;
}
body{
    background-image: url('../images/black-prism-concept-ai-generated.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: underline;
}
.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    background-color: rgba(0, 0, 0, 0.2);
}
.login-box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.3) ;
    padding: 7.5em 2.5em 4em 2.5em;
    color: #ffffff;
}
.login-header  {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
    background-color: #ccc;
    
}
.login-header header{
    font-size: 30px;
    color: #000;
}
.login-header::before{
    content:"" ;
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #ccc;
}
.login-header::after{
    content:"" ;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #ccc;
}
.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
   
}
.input-box .input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    padding-inline: 20px 50px;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
}

#user{
    margin-bottom: 10px;
}
.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
    color: #fff;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color:#ffffff ;
    padding: 0 10px;
    color: #000;
}
    .icon{
        position: absolute;
        top: 18px;
        right: 25px;
        font-size: 20px;
        color: #fff;
    }

.remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #fff;
}
.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}
.input-submit:hover{
    background: #ccc;
}
.register{
    text-align: center;

}
.register a{
    font-weight: 500;

}
@media  only screen and(max-width:564px){
    .wrapper{
        padding: 20px;
    }
    .login-box{
        padding: 7.5em 1.5em 4em 1.5em;

    }
}





}