* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #eeeceb;
}

footer {
    position: fixed;
    background-color: #3044a5;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer .container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}
footer .container .sec{
    width: 25%;
    color: #fff;
}

footer .container .sec h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 10px;
    position: relative;
}

footer .container .sec h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background-color:#ffeb3b ;
}

ul {
    list-style-type: none;
}
footer .sec li {
    margin: 6px 0;
}

footer .sec li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}
footer .sec li a:hover {
    opacity: 1;
    color: #ffeb3b;
}
footer .sec .social-box{
    margin-top: 20px;

}
footer .sec .social-box a{
    width: 40px;
    height: 40px;
    background-color: #5166d2;
    color: #fff;
    padding: 5px;
    margin-left: 10px;

}
.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
footer .footer-bottom {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background-color: #1f3389

}